craft/hello-world-140108-4b4c74512d93.json
craft/Crafting Item Database.json
/craft/archives
craft/avrae_token.txt
craft/gSheet.py
craft/gSheet.py
Scribe/avrae_token.txt
Scribe/read_csv.py
Scribe/Spells.csv
craft/craft_webhook.txt
craft/gvar_splitter.py
craft/dailyCraft.bat