name: Sync to Avrae

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Allow manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    - name: Get all changed files
      id: changed-files
      uses: tj-actions/changed-files@v41
      with:
        files: |
          HB Items/**
          HB Spells/**
          **/*.alias
    
    - name: Set up Python
      if: steps.changed-files.outputs.any_changed == 'true'
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      if: steps.changed-files.outputs.any_changed == 'true'
      run: |
        pip install -r requirements.txt
    
    - name: Sync Homebrew
      if: steps.changed-files.outputs.any_changed == 'true'
      env:
        AVRAE_TOKEN: ${{ secrets.AVRAE_TOKEN }}
        CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        PACK_ID: ${{ secrets.PACK_ID }}
        TOME_ID: ${{ secrets.TOME_ID }}
        MAINTENANCE_WEBHOOK: ${{ secrets.MAINTENANCE_WEBHOOK }}
      run: |
        python avrae_sync.py